:root {
  --bg-butten: #ff5945;
  --font-color-btn: #fff;
  --bg-row: #edeef0;
  --font-color: #002765;
  --bg-color: #fefefe;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
body {
  font-family: "poppins", sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}
.to-do-app {
  width: 100%;
  max-width: 540px;
  background-color: var(--bg-color);
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.to-do-app h2 {
  color: var(--font-color);
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.to-do-app h2 img {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-row);
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  border-radius: 40px;
  background-color: var(--bg-butten);
  color: var(--font-color-btn);
  font-size: 16px;
  cursor: pointer;
}
ul li {
  list-style: none;
  font-size: 18px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url("img/unchecked.png");
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url("img/checked.png");
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover {
  background: #edeef0;
}
:root {
  --bg-butten: #ff5945;
  --font-color-btn: #fff;
  --bg-row: #edeef0;
  --font-color: #002765;
  --bg-color: #fefefe;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
body {
  font-family: "poppins", sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}
.to-do-app {
  width: 100%;
  max-width: 540px;
  background-color: var(--bg-color);
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.to-do-app h2 {
  color: var(--font-color);
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.to-do-app h2 img {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-row);
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  border-radius: 40px;
  background-color: var(--bg-butten);
  color: var(--font-color-btn);
  font-size: 16px;
  cursor: pointer;
}
ul li {
  list-style: none;
  font-size: 18px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url("img/unchecked.png");
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked {
  color: #555;
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url("img/checked.png");
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover {
  background: #edeef0;
}
@media (min-width: 580px) {
  .to-do-app {
    width: 100%;
    max-width: 460px;
    background-color: var(--bg-color);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
  }
  ul li {
    list-style: none;
    font-size: 14px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
  }
}
@media (min-width: 360px) {
  button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: var(--bg-butten);
    color: var(--font-color-btn);
    font-size: 14px;
    cursor: pointer;
  }
}
